body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  #display {
    width: 100%;
    height: 40px;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
    border: 1px solid #ccc;
  }
  
  .mode-switch {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    width: 100%;
    padding: 20px;
    font-size: 1.2em;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #dcdcdc;
  }
  